<!DOCTYPE html>
<html>
  <head>
    <title>Habalex BookMark Manager - Bookmark View</title>
  </head>
  <body>
    <h1>Bookmark List</h1>

    <h2>URL</h2>

        <ul>
      <% @bookmarks.each do |bookmark| %>
          <li class = "bookmark">
            <a href='<%= bookmark.url %>'>
              <%= bookmark.title %>
            </a> <br>

            <form action = "/bookmarks/<%= bookmark.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type = "submit" value = "Delete"></input>
            </form>
            </li>
      <% end %> <br>


    <br><br><br> <!-- Isabels Handiwork -->
    <form action = "/add_bookmark" method="get">
     <input type= "submit" value = "Add bookmark"></input>
    </form>
  </body>


</html>
